* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: conic-gradient(
        from 203.03deg at 49.11% 56.05%,
        #6e72eb 0deg,
        #9f75ec 251.25deg,
        #6e72eb 360deg
    );
}

@font-face {
    font-family: semiBoldFont;
    src: url("./assets/fonts/Poppins-Bold.otf");
}

@font-face {
    font-family: mediumFont;
    src: url("./assets/fonts/Poppins-Medium.otf");
}

@font-face {
    font-family: regularFont;
    src: url("./assets/fonts/Poppins-Regular.otf");
}

.fb {
    font-family: semiBoldFont;
}

.fr {
    font-family: regularFont;
}

.fm {
    font-family: mediumFont;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
